* {
    background-image: url(pexels4.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}


button {
    background-color: white;
    border-radius: 10px;
    text-decoration-color: none;
    height: 40px;
    width: auto;
}

button a {
    color: aqua;
}

#name {
    text-align: center;
    color: rgb(188, 188, 211);
    font-size: 100px;
    text-decoration-line: underline;
    margin-bottom: 40px;
}

#navigation ul {
    margin-left: 45%;
}

#navigation ul li {
    display: inline-block;
    margin-left: 3%;
    margin-bottom: 20px;
}

#cv {
    margin-left: 30%;
    width: 90px;
    height: 30px;
}

#sec0 {
    margin-top: 30px;
    display: flex;
}

#about {
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 250px;
    margin-bottom: 30px;
    background-image: url(pexels4.jpg);
    background-size: cover;
    border: 2px solid black;
    border-radius: 20px;
    width: 500px;
    height: 310px;
    padding: 20px;
    font-size: larger;
    color: white;
}

#myimg {
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 2%;
    height: 370px;
    width: 300px;
}

#sec1 {
    display: flex;
    flex-direction: right;
    margin-left: 5%;
}

#langs {
    margin-left: 80px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 50px;
    background-image: url(pexels4.jpg);
    background-size: cover;
    color: white;
    text-decoration-thickness: 10px;
    text-align: center;
    font-size: larger;
}

#educ {
    margin-left: 25%;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 20px;
    width: 400px;
    padding: 10px;
    background-image: url(pexels4.jpg);
    background-size: cover;
    color: white;
    font-size: large;
}

#sec2 {
    display: flex;
}

#interests {
    border: 2px solid black;
    border-radius: 20px;
    padding: 40px;
    padding-left: 70px;
    margin-left: 60px;
    margin-top: 40px;
    background-image: url(pexels4.jpg);
    background-size: cover;
    color: white;
    font-size: large;
}

#projects {
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 25px;
    padding: 20px;
    width: 500px;
    margin-left: 225px;
    background-image: url(pexels4.jpg);
    background-size: cover;
    color: white;
    font-size: large;
    text-align: center;
}

footer {
    border: 2px solid black;
    border-radius: 30px;
    margin-top: 20px;
}

#contact {
    margin: auto;
    text-align: center;
}

#contact h2 {
    margin-top: 20px;
    font-size: 30;
    margin-bottom: 10px;
    color: yellow;
}

#contact p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    font-style: oblique;
}

#contact a {
    color: aqua;
}